@import '~bootstrap/scss/bootstrap';

// .gameboard {
//   height: 70vmin;
//   margin: auto;
//   width: 70vmin;
//
//  .cell {
//   align-items: center;
//   border-right: 2px solid;
//   border-top: 2px solid;
//   cursor: pointer;
//   display: flex;
//   font-size: 15vmin;
//   height: calc(100% / 3);
//   justify-content: center;
//
//   ​&:nth-child(3n) {
//     border-right: 0;
//   }
//
//   &:nth-child(-n + 3) {
//     border-top: 0;
//   }
//   }
// }

.gameboard {
  height: 70vmin;
  margin: auto;
  width: 70vmin;
​
  .cell {
    align-items: center;
    border-right: 2px solid;
    border-top: 2px solid;
    cursor: pointer;
    display: flex;
    font-size: 15vmin;
    height: calc(100% / 3);
    justify-content: center;
​
    &:nth-child(3n) {
      border-right: 0;
    }
​
    &:nth-child(-n + 3) {
      border-top: 0;
    }
  }
}
